/* 复用的样式类 */
.weui-btn{
    position: relative; /* 内部元素定位 */
    display: block;/* 行内—》块级元素 */
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding:8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color:#fff;
    line-height: 1.88235294;
    border-radius: 8px;
}
.weui-btn_primary{
    background-color: #3cc67e;
}
.weui-btn_primary:active{
    background-color: yellow;
}
.weui-btn_warn{
    background-color: #edede8;
    color:#fa5151;
}
.weui-btn + .weui-btn{
    margin-top: 10px;
}
/* 兄弟选择器 */